
<div class="comment_clearfix">
  <div class="comment_content">
    <p class="comment_name"><strong><%= comment.name %></strong></p>
    <p class="comment_content"><%= comment.content %></p>
    <p class="comment_content"><%= @time_ago_in_words(comment.created_at)%></p>
  </div>
</div>